Source: ros-rolling-testpkg
Section: misc
Priority: optional
Maintainer: Steven! Ragnarök <steven+openrobotics@nuclearsandwich.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-testpkg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: This package is only a test.
